.wrapper {
    width: 100%;
    height: 100%;
}
.creatives {
    width: 100%;
    
    height: 100vh;
    position: relative;
    background-image: url("../img/block_1__Creatives/background.jpg");
    background-size: cover;
}
.header {
    z-index: 100;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #ffffff6b;
    padding: 0 20px;
    background-attachment: scroll;
    
}

.container{
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
}
.logo {
    order: 0;
    @media(max-width: 500px){
        img{width: 35px;}
    }
}
.nav {
        order: 1;
		&__burger {
            display: none;

		}

		&__list {
            width: 100%;
            height: 100%;
		}

		&__menu {
            display: flex;
		}

		&__link {
            font-family: "Myriad Pro";
            font-size: 20px;
            padding-left: 50px;
            a{
                color: #6e6e6e;
            }
            :hover::after{
                content: "";
                display:flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                margin-top: 46px;
                width: 71px;
                height: 6px;
                background-color: #11749e;
                @media(max-width: 1050px){
                    display: none;
                }
            }
        }
        
}
@media(max-width: 1050px){
    .nav {
        order: 3;
        position: relative;
        margin-top: -20px;
        
        
		&__burger {
            display: block;
            position: absolute;
            width: 30px;
            height: 20px;
        &::before, &::after{
            content: "";
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }
        &::before{
            top: 0 ;
            transition: all 0.3s ease 0s;
        }
        &::after{
            bottom: 0;
            transition: all 0.3s ease 0s;
        } 
        & span{
            
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 8px;
            transition: all 0.3s ease 0s;

        }
    }
		

		&__list {
            
            display: none;
            position: absolute;
            width: 200px;
            height: 200px;
            margin-top: 0px;
            margin-left: -210px;
            background-color: rgba(210, 105, 30, 0.698);
            
		}


		&__menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 5px;
            li:hover{
                background-color: darkcyan;
                a{
                    color: black;
                }
            }
            
		}

		&__link {
            padding-top: 5px;
            padding-bottom: 5px;
            
		}
}

.container{
    justify-content: space-around;
}
}

.icons {
    order: 2;
		&__menu {
            display: flex;
		}

		&__link {
            padding-left: 30px;
            &:nth-child(1){
                padding-left: 0;
            }
		}
}

.nav__burger_activ{
    position: absolute;
    &::before{
        top: 9px;
        transform: rotate(45deg);
        
    }
    &::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    & span{
        display: none;
    }
}
.nav__list_activ{
    display: block;
}
.nac_activ{

}